<h2>ペア新規登録画面</h2>

<%= form_with model: @pair, url:pair_path, local:true do |f| %>

  <%= f.label :name, "ペア名" %>
  <%= f.text_field :name %>

  <%= f.label :keyword, "キーワード" %>
  <%= f.text_field :keyword %>

  <%= f.submit "ペア作成！" %>

<% end %>
