<div class = "container">
  <div class = "row my-3">
    <div class="col-3 page-top p-0">
      <h2>トップページ</h2>
    </div>
  </div>

  <div class = "row">

    <%= render "sidebar", pair: @pair %> <!--サイドバー col-3使用-->

    <div class="col-9 main-content">

      <div class="row mb-3">
        <div class="col-10 col-offset-2 mx-auto">
          <% unless @discussing_records.empty? %>
            <h3>ケンカ中！！</h3>
            <%= render "discuss_records/index", records: @discussing_records %>
          <% end %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-10 col-offset-2 mx-auto">
          <h3>最近のナカナオリ</h3>
          <%= render "discuss_records/index", records: @closed_records %>
        </div>
      </div>


      <div class="row mb-5">
        <div class="col-10 col-offset-2 mx-auto">
          <h3>今年のナカナオリチャート</h3>
          <%= column_chart @y_dates, colors: ["#84A59D"] %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-10 col-offset-2 mx-auto">
          <h3>これまでのケンカテーマ傾向</h3>
          <div class="row">
            <div class="col-6">
              <%= pie_chart @tags_ratio, donut: true %>
            </div>
            <div class="col-6">
              <table class="table table-hover">
                <% @all_tags.each do |tag| %>
                  <tr>
                    <td class="w-50">
                      <span class="tag"><%= tag.name %></span>
                    </td>
                    <td class="w-50">
                      <%= link_to ":#{tag.discuss_records.count}件", tag_path(tag) %>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <%#= paginate @items_page %>
</div>
