<div class = "container">
  <div class = "row my-3">
      <h2>ケンカ編集！</h2>
  </div>

  <div class = "row">

    <%= render "pairs/sidebar", pair: @pair %> <!--サイドバー col-3使用-->

    <div class="col-9">
      <%= form_with model: @tag do |f| %>
        <%= f.label :name, "新しいタグ名" %>
        <%= f.text_field :name %>
        <%= f.submit "タグを作成" %>
      <% end %>
      
      <br>
      <br>
      
      [タグ一覧]
      <% @tags.each do |tag| %>
        <%# if TagRelationship.exists?() %>
        <% if @discuss_record.tag_relationships.exists?(tag_id: tag.id) %>
          <%= link_to "#{tag.name}", tag_relationships_path(@discuss_record.id, tag.id), method: :delete, class:"btn btn-primary" %>
        <% else %>
          <%= link_to "#{tag.name}", tag_relationships_path(@discuss_record.id, tag.id), method: :post, class:"btn border border" %>
        <% end %>
      
        <%= link_to "[×]", tag_path(tag.id), method: :delete %>
      <% end %>
      
      <br>
      <br>
      
      <%= render "form", discuss_record: @discuss_record, my_opinion: @my_opinion %>
    </div>
  </div>
</div>


