<h1>新規ケンカ投稿！</h1>

<%= form_with model: @discuss_record, local: true do |f| %>

  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %>

  <%= f.label :detail, "ケンカの内容" %>
  <%= f.text_area :detail %>

  <%= f.hidden_field :pair_id, :value => current_user.pair.id %>

  <%= f.submit %>

<% end %>