<h2>[<%= @discuss_record.title %>]</h2>

<% @discuss_record.tags.each do |tag| %>
  <%= "[#{tag.name}]" %>
<% end %>

<p>ケンカの詳細</p>
<p><%= @discuss_record.detail %></p>

<p>[自分の主張]</p>
<p><%= @my_opinion.claim %></p>
<p>[自分のまとめ意見]</p>
<p><%= @my_opinion.conclude %></p>

<p>[<%= current_user.partner.name %>さんの主張]</p>
<p><%= @partners_opinion.claim %></p>
<p>[<%= current_user.partner.name %>さんのまとめ意見]</p>
<p><%= @partners_opinion.conclude %></p>

<% unless @discuss_record.is_closed %>
  <%= link_to "ナカナオリする！", reconcile_path(params[:id]), method: :patch, class:"btn btn-primary" %>
<% else %>
  <p>ナカナオリ済</p>
<% end %>
<%= link_to "編集する", edit_discuss_record_path, class:"btn btn-success" %>
<%= link_to "削除する", discuss_record_path, method: :delete, class:"btn btn-success" %>