<div class = "container">
  <div class = "row my-3">
    <div class="col-lg-3 page-top p-0">
      <h2>ケンカの詳細</h2>
    </div>
  </div>

  <div class = "row">
    <div class="col-lg-9 order-lg-2 main-content">

      <div class="row">
        <div class="col-10 col-offset-2 mx-auto">

<!--タグ関係-->
          <div class="tag-edit mb-4">
            <%= form_with model: @tag do |f| %>
              <%= f.label :name, "新しいタグ名" %>
              <%= f.text_field :name %>
              <%= f.submit "タグを作成" %>
            <% end %>

            <br>

            [タグ一覧]
            <% @tags.each do |tag| %>
              <%# if TagRelationship.exists?() %>
              <% if @discuss_record.tag_relationships.exists?(tag_id: tag.id) %>
                <%= link_to "#{tag.name}", tag_relationships_path(@discuss_record.id, tag.id), method: :delete, class:"tag" %>
              <% else %>
                <%= link_to "#{tag.name}", tag_relationships_path(@discuss_record.id, tag.id), method: :post, class:"tag__not-atacched" %>
              <% end %>

              <%= link_to "[×]", tag_path(tag.id), method: :delete, data: {confirm: "[#{tag.name}]タグを削除してよろしいですか？"} %>
            <% end %>
          </div>
<!--タグ関係-->

          <div class="shadow px-0 form">
            <!--<h5 class="text-dark bg-light p-4 mb-0">画像投稿フォーム</h5>-->
            <h3 class="bg-light p-4 mb-0 text-center form__top">
              <%= @discuss_record.title %>
            </h3>
            <div class="show-body p-4">
              <div class="detail mb-5">
                <h4 class="show-body__title">ケンカの内容</h4>
                <p><%= @discuss_record.detail %></p>
              </div>

              <div class="claim mb-5">
                <h4 class="show-body__my-opinion">自分の主張</h4>
                <p><%= @my_opinion.claim %></p>

              <% unless current_user.partner == nil %>
                <h4 class="show-body__p-opinion"><%= current_user.partner.name %>さんの主張</h4>
                <p><%= @partners_opinion.claim %></p>
              <% end %>
              </div>

              <div class="conclude mb-5">
                <h4 class="show-body__my-opinion">自分の反省</h4>
                <p><%= @my_opinion.conclude %></p>

              <% unless current_user.partner == nil %>
                <h4 class="show-body__p-opinion"><%= current_user.partner.name %>さんの反省</h4>
                <p><%= @partners_opinion.conclude %></p>
              <% end %>
              </div>

              <% if @discuss_record.is_closed %>
                <button type="button" class="btn btn-lg btn-warning" disabled>ナカナオリ済</button>

              <% else %>
                <% if current_user.pair.is_paired == false || current_user.partner == nil %>
                  <%= link_to "ナカナオリする！", reconcile_path(params[:id]), method: :patch, class:"btn btn-info btn-lg" %>

                <% else %>
                  <% if @my_opinion.conclude == "" || @partners_opinion.conclude == "" %>
                    <button type="button" class="btn btn-lg btn-outline-info" disabled>ナカナオリする！</button>

                  <% else %>
                    <%= link_to "ナカナオリする！", reconcile_path(params[:id]), method: :patch, class:"btn btn-info btn-lg" %>

                  <% end %>
                <% end %>
              <% end %>
              <%= link_to "編集する", edit_discuss_record_path, class:"btn btn-secondary" %>
              <%= link_to "削除する", discuss_record_path, method: :delete, data: {confirm: "投稿を削除してよろしいですか？"}, class:"btn btn-outline-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render "pairs/sidebar", pair: @pair %> <!--サイドバー col-3使用-->

  </div>
</div>
