<div class = "container">
  <div class = "row my-3">
    <div class="col-lg-3 page-top p-0">
      <h2>ãƒ¦ãƒ¼ã‚¶ãƒ¼æƒ…å ±ç·¨é›†</h2>
    </div>
  </div>

  <div class = "row">
    <div class="col-lg-9 order-lg-2 main-content">
      <div class="row">
        <div class="col-10 col-offset-2 mx-auto">

          <%= render "layouts/error_message", obj: @user %>
          <%= form_with model: @user, local: true do |f| %>

            <div class="form-group w-50 mx-auto">
              <%= f.label :name %>
              <%= f.text_field :name, class:"form-control" %>
            </div>

            <div class="form-group w-50 mx-auto">
              <%= f.label :email, "ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹" %>
              <%= f.email_field :email, class:"form-control" %>
            </div>

            <div class="form-group w-50 mx-auto">
              <%= f.label :oko_gauge, "ãŠã“ã‚²ãƒ¼ã‚¸" %>
              <%= f.select :oko_gauge, [['ãµã¤ã†', "nomal"], ['ã‹ãªã—ã„', "sad"], ['ãŠã“', "oko"], ['æ¿€ãŠã“', "gekioko"], ['ä¸€äººã«ã—ã¦', "alone"]],{}, class:"form-control" %>
            </div>

            <div class="actions my-4 w-50 mx-auto">
              <%= f.submit "ãƒ¦ãƒ¼ã‚¶ãƒ¼æƒ…å ±æ›´æ–°ï¼", class:"form-control btn btn-info btn-lg" %>
            </div>
          <% end %>

          <!--<div class="text-right">-->
          <!--  <%#= link_to "é€€ä¼šã™ã‚‹ï¼Ÿ", u_confirm_path, class:"btn btn-outline-danger btn-sm" %><br>-->
          <!--  ç‰‡å‰²ã‚Œã ã‘ã®é€€ä¼šã¯è¤‡é›‘ãªã®ã§ã€ä¸€æ—¦å¾Œå›žã—ã«ã™ã‚‹ðŸ‘†-->
          <!--</div>-->

        </div>
      </div>
    </div>

    <%= render "pairs/sidebar", pair: @pair %> <!--ã‚µã‚¤ãƒ‰ãƒãƒ¼ col-3ä½¿ç”¨-->

  </div>
</div>
